<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Summoners Circle</title>
</head>
<header>
    <h1>Fated Summons Home Page</h1>        <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="cards">Kaarten</a></li>
            <li><a href="">Resonances</a></li>
        </ul>
    </nav>
</header>