<%- include("partials/head") %>
<body>
    <section class="image-grid">
        <img src="/assets/images/Geara-card.png" alt="Image 1">
        <img src="/assets/images/Slime-card.png" alt="Image 2">
        <img src="/assets/images/Night-card.png" alt="Image 3">
        <img src="/assets/images/Noah-card.png" alt="Image 4">
        <img src="/assets/images/Sakura-card.png" alt="Image 4">
        <img src="/assets/images/Xendar-card.png" alt="Image 4">
    </section>
     
</body>
</html>